body {
    background-color: black;
}

div {
    height: 1.5em;
    width: 10em;
    background-color: rgb(153, 0, 195);
    border-radius: .2em;
}

h3 {
    font-family: monospace;
    font-size: x-large;
    color: white;
    text-align: center;
    align-self: center;
}

div :hover{
background-color: orange;
border-radius: .2em;
cursor: pointer;
}
